<div class="mx-4">
  <div class="bg-teal-400 flex rounded-full w-full me-2 justify-star items-center">
    <svg class="m-1" xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
      <path d="M18.5002 3.08325C9.99016 3.08325 3.0835 9.98992 3.0835 18.4999C3.0835 27.0099 9.99016 33.9166 18.5002 33.9166C27.0102 33.9166 33.9168 27.0099 33.9168 18.4999C33.9168 9.98992 27.0102 3.08325 18.5002 3.08325ZM20.0418 26.2083H16.9585V16.9583H20.0418V26.2083ZM20.0418 13.8749H16.9585V10.7916H20.0418V13.8749Z" fill="white"/>
    </svg>
    <h1 class="text-2xl text-indigo-950">Información Básica</h1>
  </div>
  <div class="mx-4 py-8 md:mt-10 md:grid md:grid-cols-2 ">
    <div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="justify-items-end content-center p-2 mx-0 sm:hidden">
          <div class="mx-auto w-32 h-32 relative">
            <% if current_user&.avatar.attached? %>
              <%= image_tag(current_user&.avatar, alt: "avatar user image", class: "item-center rounded-full h-32 w-32") %>
            <% else %>
              <img class="rounded-full h-32 w-32" src="https://via.placeholder.com/124x124" />
            <% end %>
            <div class="absolute bottom-0 right-0">
              <div class="w-10 h-10 p-1 bg-teal-400 rounded-full cursor-pointer justify-center items-center">
                <label for="file-input" class="cursor-pointer justify-center items-center">
                  <%= image_tag('pencil.svg', class:"p-1")%>
                </label>
                <%= f.file_field :avatar, class: 'hidden', id: 'file-input' %>
              </div>
            </div>
          </div>
        </div>
        <%= f.label :first_name, "Nombre *", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", value: @user.first_name, class: 'input-form mb-4 pt-2' %>
        <%= f.label :last_name, "Apellido", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", value: @user.last_name, class: 'input-form mb-4' %>
        <%= f.label :email, "Correo Electrónico", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.text_field :email, autofocus: true, autocomplete: "email", value: @user.email, class: 'input-form mb-4' %>
        <%= f.label :phone, "Teléfono", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", value: @user.phone, class: 'input-form mb-4' %>
        <%= f.button :submit, label: "Guardar Cambios", class:"btn-sefi-primary mb-4 md:hidden" %>
      </div>
      <div>
        <div class="justify-items-end content-center p-2 mx-0 hidden md:block">
          <div class="mx-auto w-32 h-32 relative">
            <% if current_user&.avatar.attached? %>
              <%= image_tag(current_user&.avatar, alt: "avatar user image", class: "item-center rounded-full h-32 w-32") %>
            <% else %>
              <img class="rounded-full h-32 w-32" src="https://via.placeholder.com/124x124" />
            <% end %>
            <div class="absolute bottom-0 right-0">
              <div class="w-10 h-10 p-1 bg-teal-400 rounded-full cursor-pointer justify-center items-center">
                <label for="file-input" class="cursor-pointer justify-center items-center">
                  <%= image_tag('pencil.svg', class:"p-1")%>
                </label>
                <%= f.file_field :avatar, class: 'hidden', id: 'file-input' %>
              </div>
            </div>
          </div>
        </div>
        <%= f.button :submit, label: "Guardar Cambios", class:"btn-sefi-primary py-0 w-48 mx-auto mb-4 hidden sm:block" %>
      </div>
    <% end %>
  </div>
</div>
