<div class="bg-neutral-50 grid grid-cols-2 divide-x">
  <div class="">
    <%= image_tag('sefi.png', class: 'min-w-[100%]')%>
    <%# <div class="w-96 h-16 left-[50px] top-[600px] absolute">
      <div class="w-96 left-0 top-0 absolute text-zinc-400 text-4xl font-extrabold">Bienvenido a SEFI</div>
      <div class="left-0 top-[45px] absolute text-neutral-50 text-base font-medium">Iniciá sesión o creá una nueva cuenta con nosotros</div>
    </div> %>
  </div>
  <div class="flex items-center justify-center">
    <div class=" bg-stone-300 bg-opacity-0 rounded-2xl flex-col justify-center items-center gap-6 inline-flex">
      <div class=" text-indigo-950 text-4xl font-extrabold">Inicia sesión.</div>
      <div class=""><span style="text-black text-opacity-40 text-base font-normal">Aún no tenes cuenta?</span><span style="text-slate-900 text-base font-normal"> </span><span style="text-stone-700 text-base font-semibold"><%= link_to "Registrate", new_registration_path('user') %></span></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="w-96 flex-col justify-start items-start flex">
          <div class="w-96 h-20 flex-col justify-start items-start gap-2.5 flex">
            <div class="self-stretch text-slate-900 text-sm font-semibold leading-none">Correo electrónico *</div>
            <div class="self-stretch h-12 px-6 py-2.5 bg-neutral-50 rounded-2xl border border-zinc-400 justify-between items-center gap-2.5 inline-flex">
              <div class="text-neutral-500 text-sm font-light leading-relaxed"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Ej. maria@gmail.com", class: 'border-none border-transparent focus:border-transparent focus:ring-0 bg-inherit' %></div>
              <div class="w-6 h-6 relative"></div>
            </div>
          </div>
          <div class="self-stretch text-zinc-400 text-sm font-light leading-none mb-8">*Campo obligatorio</div>
        </div>
        <div class="w-96 flex-col justify-start items-start flex">
          <div class="w-96 h-20 flex-col justify-start items-start gap-2.5 flex">
            <div class="self-stretch text-slate-900 text-sm font-semibold leading-none">Contraseña *</div>
            <div class="self-stretch h-12 px-6 py-2.5 bg-neutral-50 rounded-2xl border border-zinc-400 justify-between items-center gap-2.5 inline-flex">
              <div class="text-neutral-500 text-sm font-light leading-relaxed"><%= f.password_field :password, autofocus: true, autocomplete: "current_password", placeholder: "Ingresa tu contrasena", class: 'border-none border-transparent focus:border-transparent focus:ring-0 bg-inherit' %></div>
              <div class="w-6 h-6 relative"></div>
            </div>
          </div>
          <div class="self-stretch text-zinc-400 text-sm font-light leading-none">*Campo obligatorio</div>
          <div class="self-stretch h-7 px-6 py-2 bg-violet-700 bg-opacity-50 rounded-3xl shadow justify-center items-center gap-2.5 inline-flex mt-4">
            <div class="text-center text-white text-sm font-normal drop-shadow-lg min-w-full"><%= f.submit "Iniciar Sesion", class: "cursor-pointer min-w-full" %></div>
          </div>
        </div>
      <% end %>
      <div class="justify-start items-center gap-1 inline-flex">
        <div class="w-28 h-px border border-black border-opacity-40"></div>
        <div class="text-black text-opacity-40 text-sm font-normal">O Iniciar sesión con</div>
        <div class="w-28 h-px border border-black border-opacity-40"></div>
      </div>
      <div class="justify-start items-start gap-5 inline-flex">
        <div class="w-11 h-11 relative"><%= button_to omniauth_authorize_path('user', 'google_oauth2'), data: { turbo: false } do %>
            <%= image_tag('google.svg')%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
