<div class="mx-4 py-8 md:mt-10">
  <div>
    <%= form_with(url: business_movements_path) do |form| %>
      <%= form.fields_for :movement do |f| %>
        <%= f.label :fecha, "Fecha", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.date_field :created_at, autofocus: true, class: 'input-form mb-4 pt-2'  %>
        <%= f.label :importe, "Importe *", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.number_field :balance_cents, placeholder: "$", class: 'input-form mb-4 pt-2' %>
        <%= f.label :cuenta, "Cuenta Origen *", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.collection_select(:account_id, @business.accounts, :id, :name, { prompt: "Selecciona una cuenta" }, { class: "input-form mb-4 pt-2" }) %>
        <%= f.label :cuenta, "Cuenta Destino *", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.collection_select(:receptor_account, @business.accounts, :id, :name, { prompt: "Selecciona una cuenta" }, { class: "input-form mb-4 pt-2" }) %>
        <%= f.label :categoria, "Categoria", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.select :category, options_for_select(@categorias), {prompt: "Selecciona una categoria"}, {class: "input-form mb-4 pt-2"} %>
        <%= f.label :referencia, "Referencia", class: "text-sefi-bold mb-4 md:text-sefi-regular" %>
        <%= f.text_field :note, class: 'input-form mb-4 pt-2' %>
        <%= f.text_field :beneficiary, value: 'Transferencia', class: 'input-form mb-4 pt-2 hidden' %>
        <%= f.submit "Agregar Transferencia", class:"btn-sefi-primary mb-4" %>
      <% end %>
    <% end %>
  </div>
</div>
<!--<div class="justify-items-center content-center p-2 mx-0 hidden md:block">
  <%#= f.label :comprobante %>
  <div class="mt-4 flex text-sm leading-6 text-gray-600">
    <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
      <span>Upload a file</span>
      <input id="file-upload" name="file-upload" type="file" class="sr-only">
    </label>
    <p class="pl-1">or drag and drop</p>
    <%#= f.file_field :ticket, class: 'hidden', id:'file-upload' %>
  </div>
</div>-->
