<h1><%= @bussines.name_business %></h1>
<h2>Transferencias</h2>
<% if @transfers.size.zero? %>
  <p>En esta sección podés realizar el registro de una Transferencia.
    Luego lo verás reflejado en la sección de registros.</p>
<% else %>
<div>
<div><p>En esta sección podés realizar el registro de un Egreso.
Luego lo verás reflejado en la sección de registros.</p></div>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Referencia</th>
        <th>Fecha</th>
        <th>Categoria</th>
        <th>Destinatario</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <% @transfers.each do |transfer| %>
        <tr>
          <td><%= transfer.note %></td>
          <td><%= transfer.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= transfer.category %></td>
          <td>Proveedor</td>
          <td><%= transfer.balance_cents %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>
